<div class="contents row">
	<%= form_tag('/infotweets', method: :post) do %>
	<h3>
		投稿する
	</h3>
	<p><input placeholder="タイトル" type="text" name="info_title"></p>
	<p><textarea cols="30" name="info_text" placeholder="ニュース内容" rows="10"></textarea></p>
	<p><input type="submit" value="SENT"></p>
	<% end %>
</div>