<!DOCTYPE html>
<html>
<head>
  <title>Saltilofb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header disgri">
	<div class="header-left alicen linehei">
		<h2>
			<a href="/tweets">KWFL</a>
		</h2>
	</div>
	<div class="header-right">
		<div class="header-menu alicen linehei">
			<a href="/tweets/new">チーム登録</a>
			<a href="">試合登録</a>
		</div>
	</div>
</div>

<div class="body-wrp">
<%= yield %>
</div>

<div class="footer">
	<p>
		Copyright 関西女子フットサルリーグ
	</p>
</div>

</body>
</html>
